
/* Global Styles */
:root {
  --primary-color: #a8cf02;
  --secondary-color: aliceblue;
  --background-dark: #000;
  --background-light: white;
  --text-dark: black;
  --text-light: white;
  --font-size-large: 9rem;
  --font-size-medium: 3.5rem;
  --font-size-small: 2rem;
  --font-size-xsmall: 0.8rem;
  --spacing-large: 100px;
  --spacing-medium: 30px;
  --spacing-small: 20px;
  --spacing-xsmall: 10px;
  /* --border-radius: 8px; */
  --cursor-size: 40px;
}

/* HOME */

.custom-cursor {
  width: var(--cursor-size);
  height: var(--cursor-size);
  border: 2px solid var(--text-light);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
  mix-blend-mode: difference;
  z-index: 9999;
}


/* Custom Cursor Enhancements */
.custom-cursor {
  width: var(--cursor-size);
  height: var(--cursor-size);
  border: 2px solid var(--text-light);
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear, width 0.2s ease, height 0.2s ease, background-color 0.2s ease;
  mix-blend-mode: difference;
  z-index: 9999;
}


/* ABOUT  */

