.aboutsect {
  background: linear-gradient(to right, var(--primary-color) 60%, var(--primary-dark));
  padding: var(--spacing-large) var(--spacing-small);
  color: var(--black-100);
  font-family: "Montserrat", sans-serif;
}

.about h2 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  color: var(--black-100);
  margin-bottom: var(--spacing-small);
}

.biginfo {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--black-90);
  max-width: 900px;
  margin: 0 auto var(--spacing-small);
}

.smallinfo {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--black-90);
}

.cv-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: var(--font-size-small);
  color: var(--white-100);
  background-color: var(--black-90);
  border-radius: var(--border-radius-small);
  text-decoration: none;
  transition: all 0.3s ease;
}

.cv-button:hover {
  background-color: var(--white-100);
  color: var(--black-100);
}

/* About Cards */
.about-cards-row {
  margin-top: var(--spacing-medium);
}

.about-card {
  background: var(--white-100);
  padding: 25px;
  border-radius: 3px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.about-card:hover {
  transform: translateY(-2px);
  /* box-shadow: var(--shadow-strong); */
}

.card-title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  color: var(--primary-dark);
}

.card-subtitle {
  font-size: var(--font-size-xsmall);
  margin-top: 10px;
  color: var(--black-90);
}

.card-meta {
  font-size: var(--font-size-xsmall);
  color: var(--text-muted);
  margin-top: 5px;
}