
.footer {
  background: #0A0A0A;
  color: var(--white-80);
  padding: 50px 20px;
  font-size: 16px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 20px;
  padding-top: 10px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-light);
  opacity: 0.7;
  animation: fadeIn 1s ease-in-out;
}

