.home {
  padding-top: 50px;
 background: linear-gradient(to right, var(--black-90) 60%, var(--black-100));
}



.aryan {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  line-height: 90px;
  text-align: left;
}

.aryan span {
  color: var(--text-light);
  font-weight: var(--font-weight-normal) !important;
}

.profession {
  font-size: var(--font-size-regular);
  color: var(--primary-lighter);
  margin-top: 20px;
  font-weight: var(--font-weight-light);
}


.profile-image {
  height: 100%;
  width: auto;
}

@media (max-width: 992px) {
  .abtimg{
    display: none !important;
  }
  .home {
    padding-top: 40px;
    background: linear-gradient(to bottom, var(--black-90), var(--black-100));
    text-align: center;
  }

  .aryan {
    font-size: calc(var(--font-size-large) - 0.5rem);
    text-align: center;
    /* padding-top: 100px; */
  }

  .profession {
    font-size: calc(var(--font-size-regular) - 0.2rem);
    margin-top: 15px;
    text-align: center;
  }

  .profile-image {
    /* max-width: 100%; */
    height: auto;
    margin: 20px auto 0;
    display: block;
  }
}

@media (max-width: 576px) {
  .home {
    padding-top: 30px;
  }

  .aryan {
    font-size: calc(var(--font-size-large) - 1rem);
    /* line-height: 48px; */
    padding-top: 100px;

  }

  .profession {
    font-size: calc(var(--font-size-regular) - 0.3rem);
  }

  .profile-image {
  }
}
